*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosdemo/Podfile.lock
iosdemo/Pods/*
iosdemo/iosApp.xcworkspace/*
iosdemo/iosApp.xcodeproj/*
!iosdemo/iosApp.xcodeproj/project.pbxproj
demo/demo.podspec
